<form method='post' action='/add-bookmark'>
  <div>
    <label for='url'> URL: </label>
    <input type = 'text' name='url'> 
  </div>
  <div>
    <label for='title'> Title: </label>
    <input type = 'text' name='title'> 
  </div>
  <div class="button">
    <button type='submit'>Submit</button>
  </div>
</form>