<title>Bookmarks</title>
<% @bookmarks.each do |bookmark| %> 
    <li> 
    <a href="<%= bookmark.url %>"> <%= "#{bookmark.title}" %> </a>
    <form method='post' action='/bookmarks/<%= bookmark.id %>'> 
        <button name='_method' value='DELETE'>
            Delete <%= bookmark.title %>
        </button>
    </form>
    </li>  
<% end %> 
<a href="/bookmarks/add">Add a new bookmark</a>